node_modules/
www/

ios/App/Pods/
ios/App/Podfile.lock
ios/App/output/
ios/DerivedData/
ios/.xcode.env.local
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/

android/.gradle/
android/build/
android/app/build/
android/captures/
android/local.properties
android/.idea/
android/app/release/
android/app/debug/
android/keystore/
*.keystore
*.jks
